@import 'styles/theme';

.login {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 30em;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    //border-radius: 0.75em;
    //background-color: black; //TODO
    transition: opacity 0.5s ease, transform 0.5s ease;
    //box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 45px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.3em;
    margin-bottom: 20px;
    background: transparentize(white, 0.75);
    color: white;
    //color: $accentDark;
    //font-weight: 700;
  }

  // &.label {
  //   color: $textColor;
  //   margin-bottom: 10px;
  //   text-transform: lowercase;
  //   font-weight: 300;
  // }

  &.button-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    //margin: auto;
    margin-left: auto;
    margin-right: auto;
    img{height: 180px; width: 180px;}
    //background: transparentize(white, 0.85); //TODO
  }
  &.button-container2{
    display: flex;
    justify-content: left;
    margin-top: 0.5em;
    img{height: 130px; width: 130px;}
    //background: transparentize(rgb(43, 173, 54), 0.85); //TODO
  }

  &.sopra-text{
    text-decoration: underline;
    text-align: center;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
  }
}
