.ranking-page {
    h1 {
        color: #01152D;
        font-size: 64px;
    }
    .align-right {
        display: flex;
        justify-content: flex-end;    
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
    .align-center {
        display: flex;
        justify-content: center;    
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
        button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .exit-button {
        text-decoration: none;
        cursor: pointer;
    }
}

.ranking {

    &-wrapper {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
        columns: 2;
        column-fill: balance;
        margin-bottom: 50px;
    }

    &-item {
        background-color: #01152D;
        border-radius: 10px;
        color: #fff;
        flex-basis: 50%;
        font-family: 'Jockey One', sans-serif;
        font-size: 24px;
        line-height: 2;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__right {
            display: flex;
            align-items: center;

            span {
                &:first-child {
                    padding-right: 10px;
                }

                &:last-child {
                    font-size: 36px;
                }
            }

        }
    }
}