@import 'styles/theme';

.backButton {

  position: absolute;
  bottom: 6px;
  left: 8px;

    &:hover {
        transform-origin: center;
        transform: scale(1.1);
    
      }
    
      &:disabled {
        cursor: default;
        opacity: 0.4;
    
        &:hover {
          transform: none;
        }
      }
    
      transition: all 0.3s ease;
      display: inline-block;
      cursor: pointer;
  
}