@import 'styles/theme';

.primary-button {
  &:hover {
    transform: translateY(-2px);

  }

  &:disabled {
    cursor: default;
    opacity: 0.4;

    &:hover {
      transform: none;
    }
  }

  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  line-height: 2;
  text-transform: uppercase;
  font-family: $fontHeading;
  color: $blue;
  transition: all 0.3s ease;
  background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%)
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ,
  #F1B04E;

  &__continue {
    width: auto;
    text-transform: capitalize;
    display: block;
  }
}